<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create a New Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New Post</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="post-form">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Post Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label class="form-label">Type:</ion-label>
          <ion-radio-group
            formControlName="type"
            class="horizontal-radio-group"
          >
            <ion-item lines="none">
              <ion-label>Idea</ion-label>
              <ion-radio slot="start" value="idea"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Book</ion-label>
              <ion-radio slot="start" value="book"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Article</ion-label>
              <ion-radio slot="start" value="article"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>
        <ion-note
          *ngIf="postForm.get('type')?.touched && postForm.get('type')?.invalid"
          color="danger"
        >
          Please select a type.
        </ion-note>

        <ion-item lines="full">
          <ion-label position="floating"
            >Topic(s) (separate them by comma)</ion-label
          >
          <ion-input formControlName="topicsString"></ion-input>
        </ion-item>
        <ion-note
          *ngIf="postForm.get('topicsString')?.touched && postForm.get('topicsString')?.invalid"
          color="danger"
        >
          Please enter at least one topic.
        </ion-note>

        <ion-item lines="full">
          <ion-label position="floating">Title</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-note
          *ngIf="postForm.get('title')?.touched && postForm.get('title')?.invalid"
          color="danger"
        >
          Please enter a title.
        </ion-note>

        <div formArrayName="detailsArray" class="details-array">
          <div>
            <div
              *ngFor="let detail of detailsArray.controls; let i = index"
              [formGroupName]="i"
            >
              <ion-item lines="full">
                <ion-label position="floating">Summary {{ i + 1 }}</ion-label>
                <ion-textarea
                  formControlName="summary"
                  [(ngModel)]="this.combService.combinedSummary[i]"
                ></ion-textarea>
              </ion-item>
              <ion-note
                *ngIf="detail.get('summary')?.touched && detail.get('summary')?.invalid"
                color="danger"
              >
                Please enter a summary.
              </ion-note>
              <ion-item lines="full">
                <ion-label position="floating">Images</ion-label>
                <ion-input
                  type="file"
                  (change)="onImageSelected($event, i)"
                  multiple
                ></ion-input>
              </ion-item>
              <ion-button
                *ngIf="i >= 1"
                (click)="removeDetail(i)"
                color="danger"
                >Remove</ion-button
              >
            </div>
            <ion-button
              *ngIf="postForm.get('type')?.value === 'book'"
              expand="full"
              (click)="addDetail()"
              >Add Summary</ion-button
            >
          </div>
        </div>

        <ion-button expand="block" type="submit" [disabled]="postForm.invalid"
          >Get Posted</ion-button
        >
        <ion-button expand="block" (click)="onSelectCombSummary()"
          >Select & Combine Summaries</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
