<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit your profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit your profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Username:</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Bio:</ion-label>
    <ion-input [(ngModel)]="bio"></ion-input>
  </ion-item>

  <ion-footer
    style="
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 20px;
      padding: 20px;
    "
  >
    <div style="display: flex; justify-content: space-between">
      <ion-button slot="end" (click)="save()">Save</ion-button>
      <ion-button slot="end" (click)="signout()">Sign-Out</ion-button>
    </div>
  </ion-footer>
</ion-content>
