ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  .post-header {
    text-align: center;
    margin-top: 16px;
  
    h1 {
      font-size: 24px;
      margin: 0;
    }
  
    .meta {
      color: #666;
      margin-top: 8px;
      font-size: 14px;
  
      span {
        display: block;
      }
    }
  }
  
  .post-image {
    width: 100%;
    height: auto;
    margin: 16px 0;
    border-radius: 8px;
  }
  
  .post-content {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
  
    .topics {
      margin-top: 16px;
      font-size: 14px;
      color: #777;
    }
  }
  
  .post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
  
    ion-item {
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      background: none;
      border: none;
      align-items: center;
      width: auto;
  
      ion-icon {
        margin-right: 8px;
      }
  
      span, ion-label {
        font-size: 14px;
        color: #666;
        margin-right: 8px;
      }
    }
  
    .like-item, .rating-item {
      display: flex;
      align-items: center;
    }
  
    .rating-stars {
      display: flex;
      align-items: center;
  
      ion-icon {
        cursor: pointer;
        margin-right: 4px;
      }
    }
  }
  
  .comments-section {
    margin-top: 24px;
  
    h2 {
      font-size: 20px;
      margin-bottom: 16px;
    }
  
    ion-item {
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --padding-top: 8px;
      --padding-bottom: 8px;
    }
  
    .comment-card {
      max-height: 300px; /* Adjust the height as needed */
      overflow-y: auto;
      width: 100%; /* Adjust the width to 90% of the parent container */
      margin: 0 auto; /* Center the card */
    }
  
    .comment-date {
      font-size: 12px;
      color: #999;
      margin-top: 4px;
    }
  }
  