<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" class="no-fill">
      <h2>{{ username }}</h2>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button routerLink="/edit-profile">
        <ion-text>Edit Profile</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="profile-grid">
    <ion-row>
      <ion-col size="6">
        <ion-avatar class="custom-avatar">
          <img
            src="https://www.techiediaries.com/modern-angular.webp"
            alt="Profile Image"
          />
        </ion-avatar>
      </ion-col>
      <ion-col size="3" class="stat-col">
        <div class="stat">
          <h3>{{ postsCount }}</h3>
          <p>Posts</p>
        </div>
      </ion-col>
      <ion-col size="3" class="stat-col">
        <div class="stat">
          <h3>{{ likesCount }}</h3>
          <p>Likes</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="profile-content">
    <h3>Bio:</h3>
    <p>{{ bio }}</p>
  </div>

  <div class="trash-can" #trashCan>
    <ion-icon name="trash-bin" size="large"></ion-icon>
  </div>

  <ion-list>
    <ion-card *ngFor="let post of userPosts; let i = index" #card>
      <ion-card-header (click)="goToDetails(post.id)">
        <ion-card-title>{{ post.title }}</ion-card-title>
        <ion-row>
          <ion-col>
            <ion-card-subtitle
              >{{ post.type }} by
              {{getUsernameById(post.authorId)}}</ion-card-subtitle
            >
          </ion-col>
          <ion-item lines="none">
            <ion-icon name="heart"></ion-icon>
            <span>{{ post.likedBy.length }} Likes</span>
            <ion-icon
              name="star"
              *ngFor="let star of [1, 2, 3, 4, 5]"
              [color]="star <= calculateRatingsAvg(post.ratings) ? 'primary' : 'medium'"
            ></ion-icon>
          </ion-item>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <img [src]="post.detailsArray[0].images[0]" alt="Post Image" />
            </ion-col>
            <ion-col size="12">
              <ion-text>{{ post.detailsArray[0].summary }}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p class="topics">
                <ng-container *ngFor="let topic of post.topics; let i = index">
                  {{ i !== 0 ? ', ' : '' }} #{{ topic }}
                </ng-container>
              </p>
            </ion-col>
            <ion-col> {{convertFirebaseDate(post.date) }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
