<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile2</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/edit-profile">
        <ion-text>edit profile</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Bio:</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea>
      this is my profile Mohamed ali alaradi CS student at the university of
      bahrain
    </ion-textarea>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ email }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Topics:</ion-label>
        <ion-text>{{topics}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Title:</ion-label>
        <ion-text>{{ title }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Summary:</ion-label>
        <ion-text>{{ summary }}</ion-text>
      </ion-item>

      <ion-img alt="Image should be here" [src]="image"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
